.values-list {
  display: flex;
  justify-content: space-between;
}

.values__thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background: var(--botton-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.values__icons {
  width: 70px;
  height: 70px;
}

.values-list .values__item {
  width: 270px;
}

.values-list .item:last-child {
  margin-right: 0;
}

.values-section {
  padding-bottom: 0;
}

.values,
.product,
.comand {
  display: flex;
  justify-content: space-between;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.values__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.values__discription {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
